@model VendorViewModel

@{
    ViewData["Title"] = "List of Vendors";
    string baseCssClass = "page-item";
    string cssClass = "";
}

<div>
    <a asp-controller="Vendors" asp-action="GetAddVendorRequest" asp-route-filterIndex="@ViewBag.FilterIndex">Add new vendor</a>

    @if (TempData["UndoVendorDeletion"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <!--This one will read the value from the TempData Assign to this variable.
                This will show it in the page.
            -->
            <span>
                <p>The vendor "@TempData["UndoVendorDeletion"]" was deleted. <a asp-controller="Vendors" asp-action="ProcessUndoSoftDeleteVendorRequest" asp-route-id="@TempData["UndoVendorForUndoDeletionID"]">Undo</a> this delete.</p>
            </span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

    }

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
                @foreach (Vendor vendor in Model.Vendors) 
                {
                    <tr>            
                    <td>@vendor.Name</td>
                    <td>@vendor.Address1 @vendor.Address2 @vendor.City @vendor.ProvinceOrState @vendor.ZipOrPostalCode</td>
                    <td>
                        <a asp-controller="Invoice" asp-action="GetAllInvoice" asp-route-id="@vendor.VendorId">Invoices</a>
                        <span class="mx-1">|</span>
                        <a asp-controller="Vendors" asp-action="GetEditVendorById" asp-route-id="@vendor.VendorId" asp-route-filterIndex="@ViewBag.FilterIndex">Edit</a>
                        <span class="mx-1">|</span>
                        <a asp-controller="Vendors" asp-action="GetDeleteVendorById" asp-route-id="@vendor.VendorId" asp-route-filterIndex="@ViewBag.FilterIndex">Delete</a>
                    </td>
                    </tr>

                }            
        </tbody>
    </table>
</div>

    <nav aria-label="...">
        <ul class="pagination pagination-lg">
            <li class="page-item @(ViewBag.FilterIndex == 1 ? "disabled": string.Empty)">
                <a class="page-link" asp-controller="Vendors" asp-action="GetAllVendors" asp-route-filterIndex="1">A-E</a>
            </li>
            <li class="page-item @(ViewBag.FilterIndex == 2 ? "disabled": string.Empty)">
                <a class="page-link" asp-controller="Vendors" asp-action="GetAllVendors" asp-route-filterIndex="2">F-K</a>
            </li>
            <li class="page-item @(ViewBag.FilterIndex == 3 ? "disabled": string.Empty)">
                <a class="page-link" asp-controller="Vendors" asp-action="GetAllVendors" asp-route-filterIndex="3">L-R</a>
            </li>
            <li class="page-item @(ViewBag.FilterIndex == 4 ? "disabled": string.Empty)">
                <a class="page-link" asp-controller="Vendors" asp-action="GetAllVendors" asp-route-filterIndex="4">S-Z</a>
            </li>
        </ul>
    </nav>
